@font-face {
    font-family: myFont;
    src: url(akira.OTF);
}
html{
    font-family: myFont;
}

.headerTitle{
    color:white;
    text-align:center; 
    background-color: rgb(63, 81, 141);
    /* position:fixed;
    top:0;
    left:0;
    width:100%; 
    background-image: url(images/blueback.jpg); 
    background-size: cover;
    border: 7px solid #dedede; 
    outline:5px solid red;*/
    line-height: 2;
    height: 100px;
}
.headerStyle{
    background-color: rgb(63, 81, 141);
    margin-block-start: 0%;
    margin-block-end: 0%;
}
.navStyle{
    display: flex;
    background-color: rgb(63, 81, 141);
    justify-content: space-evenly;
}
.card{
  margin: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: rgb(63, 81, 141);
  padding:0.7rem;
  line-height: 4;
  position: static;
}
.card:hover{
    color:black;
    border-color: black;
}
.officerCard{
    margin-left: 6rem;
    width:500px;
    border:5px solid white;
    padding:10px;
    text-align: center;
}
.column{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 2000px;
  row-gap: 2rem;
}
.meetinginfo{
    margin: 3rem; 
    width:250px;
    height:125px;
    border:5px solid white;
    padding:30px;
    text-align: center;
}
.meetingbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
*{
    background-color: black;
    box-sizing: border-box;
}
h1{
    color:white;
}
h2{
    color: white;
}
div{
    color:white;
}
